.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
}

#pannel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 3%;
    border: 2px solid black;
}

#list{
    padding: 10px;
    width: 30%;
    border: 2px solid black;    
}

#chatbox{
    padding: 10px;
    width: 68%;
    border: 2px solid black;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
}

#toplogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 10%;
   
}